html {
    color: black;
}

@font-face {
    font-family: 'arcadepi';
    src: url('fonts/arcadepi.ttf') format('truetype');
}

body {
    display: flex;
    min-height: 100vh;
    overflow: hidden;
    flex-direction: column;
    font-family: arcadepi;
    font-size: 20px;
    color: white;
    background-color: black;
}

main {
    flex: 1;
    display: flex;
    background-color: #111;
    align-items: center;
    justify-content: center;
    min-height: 420px;
    align-content: center;
    text-align: center;
}

aside {
    text-align: center;
    align-items: center;
    justify-content: center;
}

article {
    flex: 1
}

* {
    box-sizing: border-box;
}

header {
    display: flex;
    align-content: space-around;
    flex-direction: row;
    flex: 1;
}

header,
footer {
    --codeproject-bg-color: #f90;
    background: var(--codeproject-bg-color);
    /*height: 20vh;*/
    padding: 10px;
}

article {
    padding: 10px;
    flex: 1 1 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer {
    display: flex;
    flex-flow: row;
    justify-content: flex-end;
    flex: 0 0 80px;
}

.wa-logo {
    height: 64px;
}

.bob {
    align-self: flex-end;
    justify-content: flex-end;
    width: 42px;
    height: 48px;
}

.inside-page {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    flex: 1;
}

app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow: hidden;
}









.stats {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    align-content: stretch;
    justify-content: center;
    height: 100%;
}

.statsLine {
    text-align: center;
    align-items: center;
    margin: 2px;
}

.next-container {
    display: flex;
    flex-flow: column;
}



.board {
    width: 220px;
    background-color: #444;
}

.next-piece.piece-columns-2 {
    width: 52.4px;
}

.next-piece.piece-columns-3 {
    width: 78.6px;
}

.next-piece.piece-columns-4 {
    width: 104.8px;
}

.colorChip {
    float: left;
    width: 18px;
    height: 18px;
    margin: 2px;
}

.HolyGrail {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.HolyGrail-body {
    display: flex;
    flex: 1;
}

main {
    flex: 1;
}

nav, aside {
    /* 12em is the width of the columns */
    flex: 0 0 12em;
    background: #000;
    padding: 10px;
    width: 20vw;
}

nav {
    /* put the nav on the left */
    order: -1;
}

button {
    font-size: 20px;
    font-family: arcadepi;
}

.shapecolor-0 {
    background-color: #000000;
}

.shapecolor-I {
    background-color: #EC9D04;
}
.shapecolor-J {
    background-color: #A16F94;
}
.shapecolor-L {
    background-color: #E3B6A1;
}
.shapecolor-O {
    background-color: #86A2AD;
}
.shapecolor-S {
    background-color: #86A2AD;
}
.shapecolor-T {
    background-color: #02458C;
}
.shapecolor-Z {
    background-color: #C6745F;
}
