body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    flex: 0 0 100px;
    background-color: #C14F4F;
}

main {
    flex: 1;
    display: flex;
    background-color: #699EBD;
}

footer {
    flex: 0 0 40px;
    background-color: #C14F4F;
}

.left, .right {
    flex: 0 2 150px;
    background-color: #C28282;
}

.middle {
    flex: 1 1 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}








.board {
    width: 262px;
}

.colorChip {
    float: left;
    width: 20px;
    height: 20px;
    margin: 2px;
    border-style: solid;
    border-width: 1px;
    border-color: #333333;
}


