@page "/"

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

<p>@(boardViewModel.Bricks.Count())</p>

@functions {
    BlazorBricks.Core.BoardViewModel boardViewModel;

    protected override void OnInit()
    {
        boardViewModel = BlazorBricks.Core.GameManager.Instance.CurrentBoard;
    }
}
